/** Media Queries **/
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__logo {
    padding: 1.4rem 0; }
  .header__shopping-cart {
    position: relative; }
    .header__shopping-cart:hover .content {
      display: block;
      position: absolute;
      max-width: 400px;
      right: 0;
      padding: 1rem;
      background-color: #e1e1e1; }
      .header__shopping-cart:hover .content img {
        max-width: 150px; }
      .header__shopping-cart:hover .content .button {
        display: block;
        margin-top: 1rem;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
        background-color: #33c3f0;
        color: #fff; }

.hidden {
  display: none; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24rem;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .hero .content-hero {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .hero .content-hero h2 {
      font-weight: 400;
      font-size: 2.4rem; }
    .hero .content-hero p {
      font-size: 1.2rem; }
    .hero .content-hero form {
      position: relative; }
      @media only screen and (min-width: 768px) {
        .hero .content-hero form {
          width: 40%; } }
      .hero .content-hero form input[type="submit"] {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        border: none;
        text-indent: -9999px;
        background-image: url("../img/lupa.png");
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer; }
      .hero .content-hero form input[type="text"] {
        width: 100%;
        height: 3rem; }

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 6rem;
  padding: 1rem;
  background: linear-gradient(to right, #741d51 0%, #e44e55 100%);
  color: #fff; }
  .bar__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media only screen and (min-width: 1024px) {
      .bar__icons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .bar__icons .icon {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-position: 5% center !important;
      background-size: 2.4rem;
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .bar__icons .icon {
          background-position: 20% center !important; } }
      @media only screen and (min-width: 1024px) {
        .bar__icons .icon {
          background-position: left center !important; } }
      .bar__icons .icon.icon1 {
        background-image: url("../img/icono1.png");
        background-position: center center;
        background-repeat: no-repeat; }
      .bar__icons .icon.icon2 {
        background-image: url("../img/icono2.png");
        background-position: center center;
        background-repeat: no-repeat; }
      .bar__icons .icon.icon3 {
        background-image: url("../img/icono3.png");
        background-position: center center;
        background-repeat: no-repeat; }
