//Buttons
@mixin button($color) {
    display: block;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    background-color: $color;
    color: $white;
}

//Box-Model
@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

//Images
@mixin background-image($image) {
    background-image: url($image);
    background-position: center center;
    background-repeat: no-repeat;
}

//Gradient
@mixin gradient($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
}

/** Media Queries **/
@mixin phone {
    @media only screen and (min-width: $phone) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content;    
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop) {
        @content;    
    }
}