
@import 'variables.scss';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*::after,
*::before {
    @include box-sizing(inherit); 
}

body {
    font-family: $principal_font;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        padding: 1.4rem 0;
    }
    &__shopping-cart {
        position: relative;
        &:hover .content {
            display: block;
            position: absolute;
            max-width: 400px;
            right: 0;
            padding: 1rem;
            background-color: $gray;

            img {
                max-width: 150px;
            }
            .button {
                @include button($principal);
            }
        }
    }
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    margin: 1em auto;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 24rem;
    @include background-image('../img/hero.jpg');
    background-size: cover;
    color: $white;

    .content-hero {
        flex: 1;

        h2{
            font-weight: 400;
            font-size: 2.4rem;
        }

        p {
            font-size: 1.2rem;
        }

        form {
            position: relative;

            @include tablet() {
                width: 40%;
            }

            input[type="submit"] {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 3rem;
                height: 3rem;
                border: none;
                text-indent: -9999px;
                @include background-image('../img/lupa.png');
                cursor: pointer;
            }
            input[type="text"] {
                width: 100%;
                height: 3rem;
            }
        }
    }
}

.bar {
    display: flex;
    align-items: center;
    min-height: 6rem;
    padding: 1rem;
    @include gradient($secondary, $tertiary);
    color: $white;

    &__icons {
        display: flex;
        flex-direction: column;
        flex: 1;
        @include desktop() {
            flex-direction: row;
        }
        .icon {
            flex: 1;
            background-position: 5% center !important;
            @include tablet() {
                background-position: 20% center !important;
            }
            @include desktop() {
                background-position: left center !important;
            }
            background-size: 2.4rem;
            text-align: center;

            &.icon1 {
                @include background-image('../img/icono1.png');
            }
            &.icon2 {
                @include background-image('../img/icono2.png');
            }
            &.icon3 {
                @include background-image('../img/icono3.png');
            }
        }
    }
}

/** CURSES **/
.curses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__curse {
        flex: 0 1 calc(50% - 1rem);
        margin-bottom: 1rem;
        border: 1px solid darken($gray, 10);
        @include tablet() {
                flex: 0 1 calc(33% - 1rem);
        }

        @include desktop() {
                flex: 0 1 calc(25% - 1rem);
        }
        &__image {
            width: 100%;
        }
        &__info-curse {
            padding: 1rem;

            h4 {
                margin: 0;
                font-size: 1.2;
            }

            .price {
                display: flex;
                justify-content: space-between;

                .regular{
                    text-decoration: line-through;
                    color: red;
                }

                .offer {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: green;
                }

            }
            
            .button {
                    @include button($secondary);
            }
        }  
    }
}